<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header style="display: flex; width:100%">
        <!--Aqui começa meu logo-->
        <section>
            <img src="perfil.png" alt="Foto de perfil" height="75px" width="100px">
        </section>
        <!--Navegação (menu)-->
        <nav>
           <a href="mySite.html">Sobre mim</a>&nbsp;&nbsp;&nbsp;&nbsp;
           <a href="entretenimento.html">Entretenimento</a>&nbsp;&nbsp;&nbsp;&nbsp;
           <a href="musica.html">Música</a>&nbsp;&nbsp;&nbsp;&nbsp;
           <a href="contato.html">Fale comigo</a>
        </nav>
    </header>
    <h3>Fale comigo</h3>
    <form action="#"">
        <label for="cNome">Nome:</label>
        <input type="text" name="tNome" id="cNome"><br>
        <label for="cEmail">E-mail:</label><br>
        <input type="email" name="tEmail" id="cEmail"><br>
        <label for="cZap">WhatsApp</label><br>
        <input type="tel" name="tZap" id="cZap"><br>
        <label for="cData">Data de nascimento:</label>
        <input type="date" name="tData" id="cData"><br>
        <label for="MSG">Mande uma mensagem:</label>
        <textarea name="tMSG" id="MSG"></textarea><br>
        <button type="submit">Enviar dados</button>
    </form>
    <footer>
        by Nicolas Souto &copy;
    </footer>
</body>
</html>