<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entretenimento</title>
</head>
<body>
    <!--Cabeçalho do meu site-->
    <header style="display: flex; width:100%">
        <!--Aqui começa meu logo-->
        <section>
            <img src="perfil.png" alt="Foto de perfil" height="75px" width="100px">
        </section>
        <!--Navegação (menu)-->
        <nav>
           <a href="mySite.html">Sobre mim</a>&nbsp;&nbsp;&nbsp;&nbsp;
           <a href="entretenimento.html">Entretenimento</a>&nbsp;&nbsp;&nbsp;&nbsp;
           <a href="musica.html">Música</a>&nbsp;&nbsp;&nbsp;&nbsp;
           <a href="contato.html">Fale comigo</a>
        </nav>
    </header>
    <!--Conteúdo de entretenimento-->
    <!--Exemplo de uso do article-->
    <article>
        <h3>One Piece</h3>
        <h6>Gosto 5/5</h6>
        <p>
            <img src="onepiece.jpg" alt="" width="100px" height="100px">
        </p>
        <p>
           One Piece é um anime sobre um pirata que estica depois de chupar uma manga no Cais de Santa Rita
        </p>
        <p>Conheça mais sobre One Piece: <a href="#">Leia +</a></p>
        <h3>The Chosen</h3>
        <h6>Gosto 5/5</h6>
        <p>
            <img src="thechosen.jfif" width="100px" height="100px">
        </p>
        <p>
            The Chosen é uma série bíblica que retrata a história de Jesus sob o ponto de vista dos seus discípulos.
        </p>
        <h3>O Auto da Compadecida</h3>
        <h6>Gosto 5/5</h6>
        <p>
            <img src="autodacompadecida.jfif" width="100px" height="100px">
        </p>
        <p>
            O Auto da Compadecida é uma minisérie/filme baseado num filme sobre dois homens pobres que vivem no sertão tentando sobreviver de truques e golpes.
        </p>
        <h3>The Big Bang Theory</h3>
        <h6>Gosto 3.5/5</h6>
        <p>
            <img src="tbbt.jfif">
        </p>
        <p>
            
        </p>
    </article>
    <hr>
    <footer>
        by NicolasSouto &copy;
    </footer>
</body>
</html>