<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Playlist</title>
</head>
<body>
    <!--Cabeçalho do meu site-->
    <header style="display: flex; width: 100%">
        <!--Aqui começa meu logo-->
        <section>
            <img src="perfil.png" alt="Foto de perfil" height="75px" width="100px">
        </section>
        <!--Navegação (menu)-->
        <nav>
           <a href="mySite.html">Sobre mim</a>&nbsp;&nbsp;&nbsp;&nbsp;
           <a href="entretenimento.html">Entretenimento</a>&nbsp;&nbsp;&nbsp;&nbsp;
           <a href="musica.html">Música</a> 
        </nav>
    </header>
    <h3>Top 5 das minhas músicas</h3>
    <ol reversed>
        <li>Portas Abertas - Grupo Logos</li>
        <li>Ele Chegou - Anderson Freire</li>
        <li>Grande é o Senhor - Eli Soares</li>
        <li>Árvore de Bons Frutos - Apocalipse 16</li>
        <li>Último Dia - Apocalipse 16</li>
    </ol>
</body>
</html>