<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Space</title>
</head>
<body>
    <!--Cabeçalho do meu site-->
    <header style="display: flex; width:100%">
        <!--Aqui começa meu logo-->
        <section>
            <img src="perfil.png" alt="Foto de perfil" height="75px" width="100px">
        </section>
        <!--Navegação (menu)-->
        <nav>
           <a href="mySite.html">Sobre mim</a>&nbsp;&nbsp;&nbsp;&nbsp;
           <a href="entretenimento.html">Entretenimento</a>&nbsp;&nbsp;&nbsp;&nbsp;
           <a href="musica.html">Música</a>&nbsp;&nbsp;&nbsp;&nbsp;
           <a href="contato.html">Fale comigo</a>
        </nav>
    </header>

    <!--Conteúdo principal do mySite-->
    <main>
        <h1>Welcome to my universe</h1>
        <p>Cuidado para não enlouquecer! Acabei de escrever essas coisas malucas aqui</p>
    <h3>Coisas sobre mim</h3>
    <ul>
        <li>Eu existo</li>
        <li>Eu respiro através dos meus pulmões</li>
        <li>Eu sou composto por 1 trilhão de células</li>
        <li>Eu escrevi isso tudo:</li>
        <ul>
            <li>Água é um real, água é um real</li>
            <li>Homem macaco que não tem alma e nem coração</li>
        </ul>
    </ul>
    </main>
    <hr>
    <footer>
        by NicolasSouto &copy;
    </footer>
</body>
</html>